
body {
    background-color: yellow;
    font-family: Arial, Verdana, sans-serif;
}

h1, h2 {
    color: blue;
    font-weight: bold;
    font-size: 4.0em;
}
ul, ol {
    font-size: 0.8em;
    border: 1px solid black;
    color: gray;
    text-indent: 50px;
    
}
p {
    text-indent: 50px;
}
figcaption {
    font-weight: bold;
    font-size: smaller;
    
}
.copyright_notice {
    font-size: 0.8em;
}
#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}
p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}
